# built application files
*.apk
*.ap_
*.aab
*.dex
*.class

# build output
bin/
gen/
out/
build/
captures/
app/build/
.idea/
.gradle/
local.properties
/.externalNativeBuild

# Gradle files
gradle.properties
gradlew
gradlew.bat
/gradle/
/gradle-wrapper.jar

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
*.class

# Eclipse
.classpath
.project
.settings/
.metadata/
*.log

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml
/*.class